body {
    margin: 0px;
    display: flex;
    flex-flow: column wrap;

}

.cabecera{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items:center;
    border-bottom: #F2F2F2 solid;
    margin: 0px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    width: 100%;
}

.cabecera div{
    height: 99%;
    
}


#logo1 {/* logo */
    width: 99%;
    max-width: 4em;
    padding: 2px;
    margin: 1px;
}

#bloque1{
        width: 14em;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

}

#logo2 {/* nombre */
    height: 50px;
    min-width: 2em;
    min-height: 2em;
    max-width: 40em;
    padding: 2px;
    margin: 1em;
    align-self: center;

}



@font-face {
    font-family: 'Century Gothic';
    src: url('../recursos/CenturyGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#IniciarSesion{
    color: #000000; /* color de letra*/
    background-color: rgb(212, 208, 208); /* color de fondo*/
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 1em;
    margin-right: 4px;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none; /* Quita subrayado*/
    font-family: 'Century Gothic';
    font-weight: bold;
}

#Registro{
    color: #ffffff; /* color de letra*/
    background-color: #F68B11; /* color de fondo*/
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 6.5px;
    padding-bottom: 6px;
    margin-left: 4px;
    margin-right: 1em;
    text-decoration: none; /* Quita subrayado*/
    font-family: 'Century Gothic';
    font-weight: bold;
}


#hamburguesa{
    
    max-width: 100%;
   /* border-radius: 2em;*/
    
}
iframe {
    width: 99%;
    height: 900px;
    border: none;
    margin: 5px;
    overflow: hidden;

}


#menu_icon { /* inicia css de menu desplegable*/
    width: 24px;
    height: 20px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    margin: 1.5em;
    
}

#menu_icon::after {
    content: '';
    width: 24px;
    height: 4px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0px 0 #000,
        0 8px 0 #000,
        0 16px 0 #000;
    transition: all .2s;
}

#menu_icon:hover::after {
    width: 20px;
    margin-left: 2px;
}/* termina css de menu desplegable*/

.mainsti {}

footer{
    /*border: #000000 solid;*/
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: none;
    padding: 1em;
    background-color:#F68B11 ;
    font-family: 'Century Gothic';
    color:#ffffff;
    padding: 4em;
    text-align: center;
    
}

footer p {

    margin-bottom:5px;
    margin-top: 5px;

}

#ESCOM{
    color: #ffffff;
}
